.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.input1,
.submit {
  padding: 10px;
  border: 2px solid whitesmoke;
}
.submit {
  margin: 20px;
  padding: 10px;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  color: white;
  background-color: blue;
  border: 1px solid blue;
}
.submit:hover {
  font-size: 20px;
  font-weight: bold;
  background-color: darkturquoise;
  color: darkblue;
  border: 1px solid darkturquoise;
  transition: 0.5s all;
  cursor: pointer;
}
.input1 {
  margin: 10px;
  padding: 20px;
}
img {
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
}
img:hover {
  border: 2px solid orange;
}
